<mat-drawer-container class="mat-drawer-container" autosize>
  <!-- Sidenav -->
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <p>Simple CRM</p>
    </div>
    <ul class="menu-icons">
      <!-- Dashboard-Link -->
      <li>
        <a [routerLink]="['/dashboard']">
          <mat-icon>dashboard</mat-icon>Dashboard
        </a>
      </li>
    
      <!-- User-Link -->
      <li>
        <a [routerLink]="['/user']">
          <mat-icon>person</mat-icon>User
        </a>
      </li>
    </ul>
    
  </mat-drawer>

  <!-- Hauptinhalt -->
  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-icon class="mat-icon" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
